
footer {
    width: 100%;
    height: 100px;
    background:#dfa000;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#333232;
    text-transform: uppercase;
    
}